In [2]:
import pandas as pd

In [42]:
books = pd.read_csv('Downloads/books_1.Best_Books_Ever.csv')

In [6]:
books.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

In [7]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52478 entries, 0 to 52477
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            52478 non-null  object
 1   title             52478 non-null  object
 2   series            23470 non-null  object
 3   author            52478 non-null  object
 4   rating            52478 non-null  float64
 5   description       51140 non-null  object
 6   language          48672 non-null  object
 7   isbn              52478 non-null  object
 8   genres            52478 non-null  object
 9   characters        52478 non-null  object
 10  bookFormat        51005 non-null  object
 11  edition           4955 non-null   object
 12  pages             50131 non-null  object
 13  publisher         48782 non-null  object
 14  publishDate       51598 non-null  object
 15  firstPublishDate  31152 non-null  object
 16  awards            52478 non-null  object
 17  numRatings        52478 non-null  int64
 18  ratingsByStars    52478 non-null  object
 19  likedPercent      51856 non-null  float64
 20  setting           52478 non-null  object
 21  coverImg          51873 non-null  object
 22  bbeScore          52478 non-null  int64
 23  bbeVotes          52478 non-null  int64
 24  price             38113 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 10.0+ MB

In [10]:
books.isnull()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
52474,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
52475,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52476,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52477,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [11]:
books.isnull().sum()

bookId                  0
title                   0
series              29008
author                  0
rating                  0
description          1338
language             3806
isbn                    0
genres                  0
characters              0
bookFormat           1473
edition             47523
pages                2347
publisher            3696
publishDate           880
firstPublishDate    21326
awards                  0
numRatings              0
ratingsByStars          0
likedPercent          622
setting                 0
coverImg              605
bbeScore                0
bbeVotes                0
price               14365
dtype: int64

In [17]:
books['title'].nunique()

49927

In [19]:
books.size

1311950

In [20]:
books.describe()

             rating    numRatings  likedPercent      bbeScore      bbeVotes
count  52478.000000  5.247800e+04  51856.000000  5.247800e+04  52478.000000
mean       4.021878  1.787865e+04     92.231545  1.984023e+03     22.529003
std        0.367146  1.039448e+05      5.990689  3.515314e+04    369.158541
min        0.000000  0.000000e+00      0.000000  0.000000e+00     -4.000000
25%        3.820000  3.410000e+02     90.000000  8.400000e+01      1.000000
50%        4.030000  2.307000e+03     94.000000  9.700000e+01      1.000000
75%        4.230000  9.380500e+03     96.000000  1.870000e+02      2.000000
max        5.000000  7.048471e+06    100.000000  2.993816e+06  30516.000000

In [21]:
books.shape

(52478, 25)

In [23]:
books['language'].nunique()

81

In [24]:
books['language'].unique()

array(['English', 'French', 'German', 'Persian', 'Arabic', nan, 'Spanish',
       'Multiple languages', 'Portuguese', 'Indonesian', 'Turkish',
       'Polish', 'Bulgarian', 'Tamil', 'Japanese', 'Romanian', 'Italian',
       'French, Middle (ca.1400-1600)', 'Norwegian', 'Urdu', 'Dutch',
       'Finnish', 'Marathi', 'Chinese', 'Swedish', 'Icelandic',
       'Malayalam', 'Croatian', 'Estonian', 'Greek, Modern (1453-)',
       'Russian', 'Kurdish', 'Danish', 'Hindi', 'Filipino; Pilipino',
       'Serbian', 'Bengali', 'Malay', 'Catalan; Valencian', 'Czech',
       'Vietnamese', 'Armenian', 'Georgian', 'Kannada', 'Korean',
       'Nepali', 'Slovak', 'Telugu', 'Hungarian',
       'English, Middle (1100-1500)', 'Azerbaijani', 'Farsi',
       'Lithuanian', 'Ukrainian', 'Bokmål, Norwegian; Norwegian Bokmål',
       'Iranian (Other)', 'Faroese', 'Basque', 'Macedonian', 'Maltese',
       'Gujarati', 'Amharic', 'Aromanian; Arumanian; Macedo-Romanian',
       'Assamese', 'Panjabi; Punjabi', 'Albanian', 'Latvian', 'Bosnian',
       'Afrikaans', 'Thai', 'Dutch, Middle (ca.1050-1350)', 'Mongolian',
       'Tagalog', 'Galician', 'Aleut', 'Slovenian', 'Undetermined',
       'Greek, Ancient (to 1453)', 'Mayan languages', 'Duala',
       'Australian languages', 'Norwegian Nynorsk; Nynorsk, Norwegian'],
      dtype=object)

In [38]:
books_eng = books[books['language'] == 'English']

In [43]:
books_eng = books['language'].value_counts()

In [44]:
books_eng

English                                  42661
Arabic                                    1038
Spanish                                    687
French                                     579
German                                     528
                                         ...
Aromanian; Arumanian; Macedo-Romanian        1
Basque                                       1
Faroese                                      1
Iranian (Other)                              1
Norwegian Nynorsk; Nynorsk, Norwegian        1
Name: language, Length: 81, dtype: int64

In [49]:
middle = books[books['language']== 'English, Middle (1100-1500)']
print(middle['description'])

13653    The most authentic edition of Chaucer's Comple...
Name: description, dtype: object

In [52]:
books_fr = books[books['language'] == 'French']

In [54]:
books.isnull().sum()

bookId                  0
title                   0
series              29008
author                  0
rating                  0
description          1338
language             3806
isbn                    0
genres                  0
characters              0
bookFormat           1473
edition             47523
pages                2347
publisher            3696
publishDate           880
firstPublishDate    21326
awards                  0
numRatings              0
ratingsByStars          0
likedPercent          622
setting                 0
coverImg              605
bbeScore                0
bbeVotes                0
price               14365
dtype: int64

In [62]:
books = books.drop(columns='price')
books.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,05/23/06,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,10/10/00,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,09/06/06,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874

In [64]:
books = books.drop(columns='pages', 'bbeScore', 'bbeVotes', 'coverImg', 'awards', 'publisher', 'publishDate', 'firstPublishDate', 'bookFormat', 'characters', 'isbn', 'series')

SyntaxError: positional argument follows keyword argument (3529064762.py, line 1)

In [65]:
droplist = ['pages', 'bbeScore', 'bbeVotes', 'coverImg', 'awards', 'publisher', 'publishDate', 'firstPublishDate', 'bookFormat', 'characters', 'isbn', 'series']

In [66]:
books = books.drop(columns=droplist)

In [67]:
books.head()

,bookId,title,author,rating,description,language,genres,edition,numRatings,ratingsByStars,likedPercent,setting
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",First Edition,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",US Edition,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,"['Classics', 'Fiction', 'Historical Fiction', ...",NaN,4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']"
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,"['Classics', 'Fiction', 'Romance', 'Historical...","Modern Library Classics, USA / CAN",2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite..."
4,41865.Twilight,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",NaN,4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix..."

In [68]:
books = books.drop(columns='numRatings')

In [69]:
books = books.drop(columns='ratingsByStars')

In [70]:
books = books.drop(columns='likedPercent')

In [71]:
books.head()

,bookId,title,author,rating,description,language,genres,edition,setting
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",First Edition,"['District 12, Panem', 'Capitol, Panem', 'Pane..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",US Edition,['Hogwarts School of Witchcraft and Wizardry (...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,"['Classics', 'Fiction', 'Historical Fiction', ...",NaN,"['Maycomb, Alabama (United States)']"
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,"['Classics', 'Fiction', 'Romance', 'Historical...","Modern Library Classics, USA / CAN","['United Kingdom', 'Derbyshire, England (Unite..."
4,41865.Twilight,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",NaN,"['Forks, Washington (United States)', 'Phoenix..."

In [72]:
books = books.drop(columns='edition')

In [73]:
books.head()

,bookId,title,author,rating,description,language,genres,setting
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['District 12, Panem', 'Capitol, Panem', 'Pane..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",['Hogwarts School of Witchcraft and Wizardry (...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,"['Classics', 'Fiction', 'Historical Fiction', ...","['Maycomb, Alabama (United States)']"
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,"['Classics', 'Fiction', 'Romance', 'Historical...","['United Kingdom', 'Derbyshire, England (Unite..."
4,41865.Twilight,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Forks, Washington (United States)', 'Phoenix..."

In [74]:
books = books.drop(columns='setting')

In [75]:
books = books.drop(columns='bookId')

In [76]:
books.head()

,title,author,rating,description,language,genres
0,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas..."
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',..."
2,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,"['Classics', 'Fiction', 'Historical Fiction', ..."
3,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,"['Classics', 'Fiction', 'Romance', 'Historical..."
4,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire..."

In [77]:
books_copy = books.copy()

In [78]:
books_copy.dropna(subset = ['description'], inplace = True)

In [79]:
books_copy.isnull().sum()

title             0
author            0
rating            0
description       0
language       3473
genres            0
dtype: int64

In [80]:
books_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51140 entries, 0 to 52477
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        51140 non-null  object
 1   author       51140 non-null  object
 2   rating       51140 non-null  float64
 3   description  51140 non-null  object
 4   language     47667 non-null  object
 5   genres       51140 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.7+ MB

In [81]:
books = books_copy

In [82]:
books['title'].nunique()

48627

In [83]:
books['language'].nunique()

78

In [84]:
books_eng

English                                  42661
Arabic                                    1038
Spanish                                    687
French                                     579
German                                     528
                                         ...
Aromanian; Arumanian; Macedo-Romanian        1
Basque                                       1
Faroese                                      1
Iranian (Other)                              1
Norwegian Nynorsk; Nynorsk, Norwegian        1
Name: language, Length: 81, dtype: int64

In [85]:
books_eng = books[books['language'] == 'English']

In [86]:
books_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42151 entries, 0 to 52477
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        42151 non-null  object
 1   author       42151 non-null  object
 2   rating       42151 non-null  float64
 3   description  42151 non-null  object
 4   language     42151 non-null  object
 5   genres       42151 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.3+ MB

In [87]:
display(books_eng)

,title,author,rating,description,language,genres
0,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas..."
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',..."
2,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,"['Classics', 'Fiction', 'Historical Fiction', ..."
3,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,"['Classics', 'Fiction', 'Romance', 'Historical..."
4,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire..."
...,...,...,...,...,...,...
52473,Fractured,Cheri Schmidt (Goodreads Author),4.00,The Fateful Trilogy continues with Fractured. ...,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom..."
52474,Anasazi,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,"['Mystery', 'Young Adult']"
52475,Marked,Kim Richardson (Goodreads Author),3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange..."
52476,Wayward Son,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,"['Fiction', 'Mystery', 'Historical Fiction', '..."
52477,Daughter of Helaman,Misty Moncur (Goodreads Author),4.02,Fighting in Helaman's army is Keturah's deepes...,English,"['Lds Fiction', 'Historical Fiction', 'Young A..."

In [93]:
books_eng = books[(books['language'] == 'English') | (books['language'] =='English, Middle (1100-1500)')]

In [94]:
books_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42152 entries, 0 to 52477
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        42152 non-null  object
 1   author       42152 non-null  object
 2   rating       42152 non-null  float64
 3   description  42152 non-null  object
 4   language     42152 non-null  object
 5   genres       42152 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.3+ MB

In [135]:
lang = books[books['language'].isnull()]

In [106]:
lang

,title,author,rating,description,language,genres
503,Mistress Suffragette,Diana Forbes (Goodreads Author),4.34,\n A young woman without prospects at a ball ...,NaN,"['Fiction', 'Novels', 'Historical Fiction', 'D..."
570,Invisible Monsters,Chuck Palahniuk (Goodreads Author),3.98,She's a catwalk model who has everything: a bo...,NaN,"['Fiction', 'Contemporary', 'Thriller', 'Myste..."
645,House of Sand and Fog,Andre Dubus III,3.85,In this “page-turner with a beating heart” (Bo...,NaN,"['Fiction', 'Contemporary', 'Literary Fiction'..."
703,The Awakening: Fate in Motion,Suzanne Boisvert (Goodreads Author),4.31,"Exiled from Earth thousands of years ago, Sar ...",NaN,"['Contemporary', 'Drama', 'Book Club', 'Fictio..."
751,"One Fish, Two Fish, Red Fish, Blue Fish",Dr. Seuss (Reader),4.13,One Fish Two Fish Red Fish Blue Fish is a 1960...,NaN,"['Childrens', 'Picture Books', 'Fiction', 'Cla..."
...,...,...,...,...,...,...
52405,Diana: A princess for the world,"Martine Kurz, Christine Gauthey",4.60,"This pictorial tribute to ""England's Rose,"" wi...",NaN,['Nonfiction']
52411,Pixie Dust,Laura Lee (Goodreads Author),3.79,*A lonesome fairy with no clue how to wield he...,NaN,"['Fantasy', 'Paranormal', 'Paranormal Romance'..."
52416,When I Fall,J. Daniels (Goodreads Author),4.30,"From New York Times bestselling author, J. Dan...",NaN,"['Romance', 'New Adult', 'Contemporary Romance..."
52429,Did God Really Command Genocide?: Coming to Te...,"Paul Copan, Matt Flannagan",4.18,A common objection to belief in the God of the...,NaN,"['Theology', 'Christian', 'Religion', 'Christi..."
52464,Algedonic,R.H. Sin (Goodreads Author),3.71,"Bestselling poet r.h. Sin, author of the Whisk...",NaN,"['Poetry', 'Nonfiction', 'Romance', 'Feminism']"

In [141]:
dropl = []
x='the'
c = -1
for i in lang['description']:
    b = i
    c+=1
    if (x in b) == False:
        dropl.append(c)
        
    else:
        pass
    
print(dropl)

[180, 182, 192, 226, 228, 229, 232, 275, 296, 317, 330, 349, 387, 388, 389, 393, 415, 419, 427, 444, 452, 463, 476, 477, 487, 507, 511, 525, 541, 590, 592, 606, 627, 634, 642, 658, 666, 694, 707, 714, 753, 759, 766, 767, 799, 816, 824, 844, 905, 935, 945, 959, 964, 979, 983, 1022, 1049, 1052, 1078, 1097, 1108, 1126, 1133, 1135, 1145, 1150, 1171, 1176, 1193, 1224, 1256, 1258, 1261, 1262, 1268, 1292, 1300, 1315, 1344, 1345, 1351, 1353, 1369, 1388, 1407, 1436, 1438, 1447, 1452, 1491, 1501, 1507, 1512, 1533, 1537, 1542, 1555, 1557, 1575, 1589, 1611, 1616, 1619, 1626, 1627, 1631, 1637, 1648, 1654, 1659, 1664, 1668, 1670, 1680, 1687, 1710, 1713, 1722, 1724, 1749, 1757, 1758, 1772, 1778, 1794, 1798, 1812, 1813, 1814, 1817, 1818, 1826, 1827, 1840, 1842, 1848, 1884, 1900, 1903, 1904, 1906, 1910, 1928, 1930, 1931, 1933, 1936, 1939, 1947, 1994, 1998, 2003, 2005, 2015, 2023, 2026, 2038, 2065, 2071, 2078, 2100, 2105, 2121, 2127, 2128, 2143, 2156, 2158, 2161, 2176, 2186, 2193, 2198, 2209, 2212, 2239, 2244, 2245, 2246, 2250, 2265, 2280, 2289, 2296, 2297, 2299, 2307, 2342, 2346, 2358, 2374, 2375, 2382, 2396, 2401, 2449, 2453, 2458, 2470, 2472, 2497, 2512, 2515, 2517, 2544, 2548, 2553, 2561, 2571, 2580, 2584, 2586, 2590, 2625, 2633, 2637, 2639, 2649, 2654, 2673, 2682, 2687, 2696, 2700, 2705, 2711, 2717, 2730, 2731, 2739, 2748, 2762, 2777, 2780, 2784, 2786, 2804, 2805, 2810, 2835, 2839, 2849, 2854, 2857, 2859, 2869, 2870, 2872, 2873, 2896, 2898, 2928, 2956, 2966, 2971, 2997, 3001, 3017, 3039, 3080, 3081, 3087, 3111, 3127, 3149, 3170, 3182, 3198, 3200, 3206, 3211, 3217, 3218, 3226, 3227, 3235, 3240, 3249, 3250, 3255, 3288, 3302, 3305, 3318, 3321, 3322, 3334, 3342, 3348, 3353, 3364, 3410, 3416, 3418, 3427, 3444, 3452, 3456, 3463]

In [143]:
lang.drop(lang.index[dropl], inplace=True)

C:\Users\Line\AppData\Local\Temp\ipykernel_15420\166108544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lang.drop(lang.index[dropl], inplace=True)

In [144]:
lang.isnull().sum()

title             0
author            0
rating            0
description       0
language       3174
genres            0
dtype: int64

In [148]:
books_eng = books_eng.append(lang)

C:\Users\Line\AppData\Local\Temp\ipykernel_15420\3797776524.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  books_eng = books_eng.append(lang)

In [149]:
books_eng.isnull().sum()

title             0
author            0
rating            0
description       0
language       3174
genres            0
dtype: int64

In [150]:
books_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45326 entries, 0 to 52464
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        45326 non-null  object
 1   author       45326 non-null  object
 2   rating       45326 non-null  float64
 3   description  45326 non-null  object
 4   language     42152 non-null  object
 5   genres       45326 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.4+ MB

In [153]:
books_eng.to_csv('Documents/leuphana/3/neural_networks/project/clean_data_nn.csv', index=False)

In [160]:
books_eng['rating'].min()

0.0

In [161]:
books_eng['rating'].max()

5.0

In [163]:
books_eng[books_eng['rating'] < 3]

,title,author,rating,description,language,genres
3938,How to Be a Perfect Girl,Mary Williams (Goodreads Author),2.88,Valentina Hunter's parents think they've just ...,English,"['Romance', 'Realistic Fiction']"
5752,Revealing Eden,Victoria Foyt (Goodreads Author),1.99,Eden Newman must mate before her 18th birthday...,English,"['Young Adult', 'Dystopia', 'Science Fiction',..."
7574,Pygmy,Chuck Palahniuk (Goodreads Author),2.97,The Manchurian Candidate meets South Park—Chuc...,English,"['Fiction', 'Contemporary', 'Humor', 'Novels',..."
9100,Lost,"Gregory Maguire, Douglas Smith (illustrator)",2.82,At the flat in Weatherall Walk there was no mi...,English,"['Fantasy', 'Fiction', 'Mystery', 'Horror', 'F..."
11651,The Almost Moon,Alice Sebold,2.69,A woman steps over the line into the unthinkab...,English,"['Fiction', 'Contemporary', 'Adult Fiction', '..."
...,...,...,...,...,...,...
38988,Imp Empress: Falling in Love with Dragons: Aar...,L'Poni Baldwin (Goodreads Author),0.00,Aaron Karrucci is the soon-to-be Emperor of An...,NaN,[]
45794,Running Shoes (The Shades of Northwood),Wendy Maddocks,2.67,Katie used to run to win.\n\nLeaving home to g...,NaN,[]
46754,L'an 2440,"Louis-Sébastien Mercier, Christine Marcandier-...",2.92,"The 18th century was a wealth of knowledge, ex...",NaN,"['Fiction', 'Science Fiction', 'France', 'Utop..."
51039,Quartet for the End of Time,Johanna Skibsrud,2.63,Inspired by and structured around the chamber ...,NaN,"['Fiction', 'Historical Fiction', 'Music', 'Li..."
51200,Waiting For Kate Bush,John Mendelssohn,2.25,This is the b format version of the critically...,NaN,['Music']